/* Importa los iconos de PrimeVue */
@import "primeicons/primeicons.css";

/* Variables de tamaño y proporción */
:root {
  --ancho-max-contenedor: 1280px;
  --ancho-max-logo: 45px;
  --proporcion-logo: 1.35;
  --tiempo-transicion: 0.2s;
}

/* Paleta de colores */
:root {
  --color-primario: #007BFF; /* Azul */
  --color-secundario: #4A4A4A; /* Gris oscuro */
  --color-fondo: #F5F5F5; /* Gris claro */
  --color-borde: #BDBDBD; /* Gris claro */
  --colorTextoPrimario: #333333; /* Gris oscuro */
  --colorTextoSecundario: #666666; /* Gris medio */
  --gradiente-navbar: linear-gradient(to bottom, #0056b3, #007BFF); /* Gradiente azul */
}

/* Fuentes y tipografía */
:root {
  --fuente-predeterminada: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  --peso-fuente-normal: 400;
  --tamano-fuente-normal: 16px;
  --altura-linea-normal: 1.5;
}

/* Estilos generales */
body {
  font-family: var(--fuente-predeterminada);
  font-weight: var(--peso-fuente-normal);
  font-size: var(--tamano-fuente-normal);
  line-height: var(--altura-linea-normal);
  color: var(--color-borde);
  background-color: var(--color-secundario);
}

a {
  font-weight: 500;
  color: var(--color-primario);
  text-decoration: none;
  transition: color var(--tiempo-transicion);
}

a:hover {
  color: darken(var(--color-primario), 10%);
}