/* Importa los iconos de PrimeVue */
@import "primeicons/primeicons.css";

/* Variables de tamaño y proporción */
:root {
  --ancho-max-contenedor: 1280px;
  --ancho-max-logo: 45px;
  --proporcion-logo: 1.35;
  --tiempo-transicion: 0.2s;
}

/* Paleta de colores */
:root {
  --color-primario: #007BFF; /* Azul */
  --color-secundario: #4A4A4A; /* Gris oscuro */
  --color-fondo: #F5F5F5; /* Gris claro */
  --color-borde: #BDBDBD; /* Gris claro */
  --color-TextoPrimario: #000000; /* Gris oscuro */
  --color-TextoSecundario: #666666; /* Gris medio */
  --gradiente-navbar: linear-gradient(to bottom, #0056b3, #007BFF); /* Gradiente azul */
}

/* Fuentes y tipografía */
:root {
  --fuente-predeterminada: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  --peso-fuente-normal: 400;
  --tamano-fuente-normal: 16px;
  --altura-linea-normal: 1.5;
}

/* Estilos generales */
body {
  font-family: var(--fuente-predeterminada);
  font-weight: var(--peso-fuente-normal);
  font-size: var(--tamano-fuente-normal);
  line-height: var(--altura-linea-normal);
  color: var(--color-borde);
  background-color: var(--color-secundario);
}

a {
  font-weight: 500;
  color: var(--color-primario);
  text-decoration: none;
  transition: color var(--tiempo-transicion);
}

a:hover {
  color: darken(var(--color-primario), 10%);
}

.btn-gen {
  display: inline-block;
  padding: 0.8rem 1.5rem;
  font-size: 1.2rem;
  color: var(--color-secundario);
  text-decoration: none;
  border-radius: 4px;
  transition: background-color 0.3s ease;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.card-gen {
  background-color: var(--color-fondo);
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 20px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  display: inline-block;
  width: auto;
}

.card_header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.card_titulo {
  margin: 0;
  font-size: 1.4rem;
  margin-bottom: 1rem;
}

.card_descripcion {
  margin: 0;
  text-align: center;
  font-size: 1.2rem;
}